backups/fullbackup.sql
KVS.v12.suo
KVSWebApplication/bin/KVSCommon.dll
KVSWebApplication/bin/KVSCommon.pdb
KVSWebApplication/bin/KVSWebApplication.dll
KVSWebApplication/bin/KVSWebApplication.dll.config
KVSWebApplication/bin/KVSWebApplication.pdb
KVSWebApplication/obj/Debug/build.force
KVSWebApplication/obj/Debug/KVSWebApplication.csprojResolveAssemblyReference.cache
