backups/fullbackup.sql
KVSWebApplication/bin/KVSCommon.dll
KVSWebApplication/bin/KVSCommon.pdb
KVSWebApplication/bin/KVSWebApplication.dll
KVSWebApplication/bin/KVSWebApplication.dll.config
KVSWebApplication/bin/KVSWebApplication.pdb
KVSWebApplication/obj/Debug/build.force
KVSWebApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KVSWebApplication/obj/Debug/KVSWebApplication.csprojResolveAssemblyReference.cache
KVSWebApplication/obj/Debug/KVSWebApplication.dll
KVSWebApplication/obj/Debug/KVSWebApplication.pdb
KVSWebApplication/bin/KVSCommon.dll
KVSWebApplication/bin/KVSCommon.pdb
KVSWebApplication/bin/KVSWebApplication.dll
KVSWebApplication/bin/KVSWebApplication.dll.config
KVSWebApplication/bin/KVSWebApplication.pdb
KVSWebApplication/obj/Debug/build.force
KVSWebApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KVSWebApplication/obj/Debug/KVSWebApplication.csprojResolveAssemblyReference.cache
KVSWebApplication/obj/Debug/KVSWebApplication.dll
KVSWebApplication/obj/Debug/KVSWebApplication.pdb
KVSWebApplication/bin/KVSCommon.dll
KVSWebApplication/bin/KVSCommon.pdb
KVSWebApplication/bin/KVSWebApplication.dll
KVSWebApplication/bin/KVSWebApplication.dll.config
KVSWebApplication/bin/KVSWebApplication.pdb
KVSWebApplication/obj/Debug/build.force
KVSWebApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KVSWebApplication/obj/Debug/KVSWebApplication.csprojResolveAssemblyReference.cache
KVSWebApplication/obj/Debug/KVSWebApplication.dll
KVSWebApplication/obj/Debug/KVSWebApplication.pdb
KVSWebApplication/bin/KVSCommon.dll
KVSWebApplication/bin/KVSCommon.dll
KVSWebApplication/obj/Debug/KVSWebApplication.dll

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
