backups/fullbackup.sql
KVSWebApplication/bin/KVSCommon.dll
KVSWebApplication/bin/KVSCommon.pdb
KVSWebApplication/bin/KVSWebApplication.dll
KVSWebApplication/bin/KVSWebApplication.dll.config
KVSWebApplication/bin/KVSWebApplication.pdb
KVSWebApplication/obj/Debug/build.force
KVSWebApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KVSWebApplication/obj/Debug/KVSWebApplication.csprojResolveAssemblyReference.cache
KVSWebApplication/obj/Debug/KVSWebApplication.dll
KVSWebApplication/obj/Debug/KVSWebApplication.pdb
KVSWebApplication/bin/KVSCommon.dll
KVSWebApplication/bin/KVSCommon.pdb
KVSWebApplication/bin/KVSWebApplication.dll
KVSWebApplication/bin/KVSWebApplication.dll.config
KVSWebApplication/bin/KVSWebApplication.pdb
KVSWebApplication/obj/Debug/build.force
KVSWebApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KVSWebApplication/obj/Debug/KVSWebApplication.csprojResolveAssemblyReference.cache
KVSWebApplication/obj/Debug/KVSWebApplication.dll
KVSWebApplication/obj/Debug/KVSWebApplication.pdb
KVSWebApplication/bin/KVSCommon.dll
KVSWebApplication/bin/KVSCommon.pdb
KVSWebApplication/bin/KVSWebApplication.dll
KVSWebApplication/bin/KVSWebApplication.dll.config
KVSWebApplication/bin/KVSWebApplication.pdb
KVSWebApplication/obj/Debug/build.force
KVSWebApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KVSWebApplication/obj/Debug/KVSWebApplication.csprojResolveAssemblyReference.cache
KVSWebApplication/obj/Debug/KVSWebApplication.dll
KVSWebApplication/obj/Debug/KVSWebApplication.pdb
KVSWebApplication/bin/KVSCommon.dll
KVSWebApplication/bin/KVSCommon.dll
KVSWebApplication/obj/Debug/KVSWebApplication.dll
