<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="currentUser" value="E6232890-B6E9-4AA4-B68C-36CF5C9A0918"/>
    <add key="ErrorPath" value="D:\createOrder\Error"/>
    <add key="ArchivFolder" value="D:\createOrder"/>
    <add key="XSDPath" value="D:\KFZ_Vollservice\Zulassungssoftware_Webservice\Zulassungssoftware_Webservice\xsd"/>
    <add key="currentNamespace" value="http://microsoft.com/webservices/"/>
    <add key="Username" value="CaseSST"/>
    <add key="Password" value="Case#2014!"/>
    
  </appSettings>
  <connectionStrings>
<add name="KVSConnectionString" connectionString="Data Source=localhost;Initial Catalog=ESCODA_KVS;persist security info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
 
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
      Der Abschnitt "<authentication>" ermöglicht die Konfiguration
      des Sicherheitsauthentifizierungsmodus, mit dem eingehende
      Benutzer von ASP.NET identifiziert werden. 
    -->
    <authentication mode="Windows"/>
    <!--
       Der Abschnitt "<customErrors>" ermöglicht die Konfiguration
       der Vorgehensweise bei unbehandelten Fehlern
       während der Anforderungsausführung. Insbesondere
       können Entwickler HTML-Fehlerseiten konfigurieren,
       die anstelle einer Fehlerstapelüberwachung angezeigt werden.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        Der Abschnitt "system.webServer" ist zum Ausführen von ASP.NET-AJAX unter
        Internetinformationsdienste 7.0 erforderlich. Für frühere Versionen von IIS ist er nicht erforderlich.
    -->
</configuration>