<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="KVSConnectionString" connectionString="Data Source=.;Initial Catalog=KVS;Persist Security Info=True;integrated security = true"
   providerName="System.Data.SqlClient" />
  <add name="KVSCommon.Properties.Settings.KVSConnectionString"
   connectionString="Data Source=ND2009-DATA\SQLSERVER2005;Initial Catalog=KVS;Persist Security Info=True;User ID=sa;Password=N3wdirection"
   providerName="System.Data.SqlClient" />
  <add name="KVSCommon.Properties.Settings.KVSConnectionString1"
   connectionString="Data Source=ND2009-DATA\SQLSERVER2005;Initial Catalog=KVS;Persist Security Info=True;User ID=sa"
   providerName="System.Data.SqlClient" />
  <add name="KVSCommon.Properties.Settings.KVSConnectionString2"
   connectionString="Data Source=ND2009-DATA\SQLSERVER2005;Initial Catalog=KVS;User ID=sa"
   providerName="System.Data.SqlClient" />
  <add name="KVSCommon.Properties.Settings.test_fullserviceConnectionString"
   connectionString="Data Source=ND2009-DATA\SQLSERVER2005;Initial Catalog=test_fullservice;User ID=sa"
   providerName="System.Data.SqlClient" />
  <add name="KVSCommon.Properties.Settings.TestConnectionString"
   connectionString="Data Source=localhost;Initial Catalog=Test;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
